/*------ Google-Font------- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{

    margin:80px 120px ;
    color: #3A3A3A;
    

}

/* navbar-style */

nav{
    display: flex;
    justify-content: space-between;
    margin:87px 120px;
    font-size: 20px;
    font-weight: bold;
    /* margin-top:285px; */
}





/* navbar-style - end*/


/* Start your Journey-style */

.your-journey{
    display: flex;
}

.your-journey-detail{
/* padding-right: 150px; */
padding-right: 300px;
}

.your-journey-detail h1{
    font-weight: bold;
    font-size: 44px;
    
}

.your-journey-detail p{
    font-weight: bold;
    font-size: 14px;
    
}
.your-journey-img{
    padding-right: 120px;
    
}
.your-journey-img-1{
    position: absolute;
    z-index: 1;
    right: 0;
    transition: 1.4s ease-in-out;
    /* transition: all 1.7s  ease; */
    transition-delay: 0.2s;
}
.your-journey-img-1:hover{
    transform: scale(1.1);
}
.your-journey-img-2{
    position: absolute;
    right: 0;
    
}
.your-journey-img img{
    
    width: 400px;
    height: 370px;
    margin-right: 70px;
}

.your-journey-button{
    background: #E02C6D;
    color: white;
    margin-top: 17px;
    padding: 10px 24px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 41px;
    border: none;
}

.your-journey-button i{
    padding: 0 10px;
    font-size: 14px;
    
}

/* Start your Journey-style--end */


/* Popular Collection */
.Popular-Collection{
    
    
}
.Popular-Collection-title{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 20px;
}

.Collections{
    display: grid;
    /* grid-template-columns:repeat(3,1fr); */
    grid-template-columns:1fr 1fr 1fr;
    grid-row-gap:30px ;
    
}

.Collection{
    
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin:0 20px;
    
}

.Collection-banner{
    
    /* border-radius: 5px; */
}
.collection-title{
    font-weight: 500;
    font-size: 28px;
}
.collection-price{
    font-weight: 500;
    font-size: 24px;
}
.collection-review{
    font-size:12px;
}
.collection-review .fa-star{
color:#FB8200;
}
 .fa-star.empty{
    color:gray;
}
.collection-review span{
    padding: 0 10px;
}

.see-more {
    color: #E02C6D;
    float: right;
    font-weight:bold;
    font-size: 14px;
    padding: 20px;
}
/* Popular Collection--end */

/* Featured-products-style */
.Featured-products{
    display: flex;
}
/* Featured-products-end */

/* Intellifluence-style */
.Intellifluence-title{
    text-align:center;
    font-weight:bold;
    font-size:22px;
}
.Intellifluence-section{
    display: flex;
    
}

.Intellifluence{
    padding: 50px;
}

.Intellifluence-img img{
    height: 100px;
    width: 120px;
    padding: 0 50px;
}

/* Intellifluence-style-end */

    
/* footer-style */ 
footer{
    background-color:#0A0826 ;
    width: 100%;
    
}

.footer-section{
    padding: 40px;
    text-align: center;
    color: white;
}
.footer-details p{
    font-size: 14px;
}
 .footer-icon i{
    color: white;
    background-color: rgb(83, 83, 83);
    border-radius:50%  ;
    padding: 5px ;
    margin: 0 10px;
}
/* footer-style-end */

@media only screen and (max-width: 688px){
    
    .container{
        
        max-width: 100%;
        overflow: hidden;
        
        
    }

    nav h1{
        
        text-align: center; 
        
    }

    .nav-item{
        display:none;
    }
    

    .Collections, .your-journey,.Intellifluence-section{
        grid-template-columns:repeat(1,1fr);
        grid-row-gap:10px ;
        flex-direction: column;
        
    }

    .your-journey{
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        
        

    }

    .your-journey-detail{
        /* display:relative; */
        display: grid;
        grid-template-columns:repeat(1,1fr);
        margin-top: 390px;
        
        
        
        width: 200px;
        /* font-size: 10px; */
        overflow: visible;
        
        /* flex-wrap: wrap; */
        /* flex-direction: row; */
        
    }
    .your-journey-detail h1,p,button{
        font-size: 20px;
    }
    .your-journey-img-1, .your-journey-img-2{
        
        display: absolute;
        /* top:0; */
        top: 40%;
        left: 40px;
        height: 700px;
        width: 700px;
         

        
    }

    .Popular-Collection{
        width: 329px;
        /* margin-left: 220px; */
    }

    .Intellifluence-section{
        /* width: 329px;
        margin-left: 220px; */
        flex-direction: column;
    }
    .Intellifluence-title h1{
        
        width: 380px;
        /* margin-left: 220px; */
    }
    
}

@media only screen and (max-width: 430px){
    .your-journey-detail{
        /* display:relative; */
        display: grid;
        grid-template-columns:repeat(1,1fr);
        margin-top: 390px;
        width: 100px;
        
        overflow: visible;
        
    }
    .your-journey-img-1, .your-journey-img-2{
        
        display: absolute;
        /* top:0; */
        top: 30%;
        left: -10px;
        height: 700px;
        width: 700px;
        
        
    }
}

@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        max-width: 100%;
        overflow: hidden;
    }

    .nav-item{
        display:none;
    }

    .Collections{
        grid-template-columns:repeat(2,1fr);
        grid-row-gap:100px ;
        flex-direction: column;
        
    }
    .Intellifluence-section{
        
        flex-direction: column;
    }

    .your-journey-detail, h1,p{
       width: 200px;
       font-size: 2px;
    }
    .your-journey-detail{
        /* font-size:10px; */
       /* padding-left:-10px; */
      
    }
    
    .your-journey-img img{
        width: 300px;
        height: 300px;
        padding-left: 80px;
        margin-right: ;
    }

    .Popular-Collection{
        width: 329px;
        height: 400px;
        margin-left: 0px;
        overflow: visible;
        
    }
    .Intellifluence-section{
        width: 329px;
    }

    .Intellifluence-title h1{
        font-size: 20px;
    }
    

}